@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  background-image: url("https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  font-family: "Abril Fatface";
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;  
}

h2 {
  text-align: center;
  
}



input {
  background: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  width: 50%;  
  justify-content: center;
  align-items: center;
  margin: auto;
}

#submit:hover {
  color: white;
  cursor: pointer;
}


#submit:active {
  background-color: #ffffff00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
    
    